.vscode/
build

.pytest_cache/
__pycache__/
cpu_codegen/

*.pbtxt
*.dot
*.whl
.bazelrc

.*.swp
.nfs*

BUILD
WORKSPACE
bazel-bin
bazel-genfiles
bazel-ngraph-tf
bazel-out
bazel-testlogs
build_cmake
cxx_abi_option.bzl
tf_configure
